

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.menuContent {
    background-color: grey;
    position: relative;
    padding-top: 40px;
    padding-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    border: 1px solid;
    margin-bottom: 15px;
}

.menuBody {
    margin-left: auto;
    margin-right: auto;
    width:95%;
}

.menuHeader {
    position: absolute;
    border: 1px solid black;
    width: 30%;
    text-align: center;
    right: 0px;
    top: 0px;
    padding-top: 4px;
    padding-bottom: 4px;
    font-size: 125%;
}

.row {
    width: 100%;
}

.header {
    width: 90%;
    margin-top: 30px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 175%;
    margin-left: auto;
    margin-right: auto;
}

.chicken {
    color: black;
    background-color: #ff9999
}

.beef {
    color: white;
    background-color: #e62e00
}

.fish {
    color: black;
    background-color: #4dd2ff
}

@media(min-width: 992px) {
    .col-md-3 {
        float: left;
        width: 33.33%;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .col-sm-6, .col-sm-12 {
        float: left;
    }
    .col-sm-6 {
        width: 50%;
    }
    
    .col-sm-12 {
        width: 100%;
    }
    
    .thirdMenuContent {
        width: 95%;
    }
    .thirdMenuBody {
        width: 97.5%;
    }
    .thirdMenuHeader {
        width: 15%
    } 
}

@media (max-width: 767px) {
    .col-xs-12 {
        width: 100%;
        float: left;
    }
}